<div class="main">
<section id="header-section">
  <div class="header">
    <h1>GET IN TOUCH</h1>
    <p>Want to start mining your own cryptocurrencies or have any questions? You're almost there!</p>
  </div>
</section>
<div class="arrow-down-header"></div>


<section id="form-section">
  <form [formGroup]="contactForm" class="form-section" (ngSubmit)="onSubmit()" novalidate>
    <!-- FORM HEADER -->
    <div class="form-section">
      <h1>ONE FINAL STEP..</h1>
      <p>In order to better serve you, all account openings are checked one by one.</p>
      <p> Simply complete the form below and a member of our team will contact you shortly, to simply help you clarify any questions you may have, or if you wish to open an account directly.</p>
      <p class="warning"> However, please note that it is now TOO LATE (since May 31, 2021) to join us. </p>
      <p class="warning">Orders are currently suspended indefinitely.</p>
      <p class="warning">Please enter your details below to be notified when we reopen 😄 </p>
    </div>
    <!-- FORM BODY -->
    <div class="form-body">
      <!-- First name & Last name -->
      <div class="row">
        <div class="input-group">
          <label for="firstname">First name <span class="mandatory">*</span></label>
          <input formControlName="firstname" name="firstname" id="firstname" type="text" placholder="Enter your first name">
          <div
            *ngIf="!contactForm.get('firstname')?.valid && (contactForm.get('firstname')?.dirty ||contactForm.get('firstname')?.touched)">
            <div [hidden]="!contactForm.get('firstname')">
              First Name is required
            </div>
          </div>
        </div>
        <div class="input-group">
          <label>Last name <span class="mandatory">*</span></label>
          <input ormControlName="lastName" type="text" placholder="Enter your last name">
          <div
            *ngIf="!contactForm.get('lastname')?.valid && (contactForm.get('lastname')?.dirty ||contactForm.get('lastname')?.touched)">
            <div [hidden]="!contactForm.get('lastname')">
              Last Name is required
            </div>
          </div>
        </div>
      </div>
      <!-- Email -->
      <div class="row">
        <div class="input-group">
          <label>Email <span class="mandatory">*</span></label>
          <input formControlName="email" type="email" placholder="Enter your email address">
          <div
            *ngIf="!contactForm.get('email')?.valid && (contactForm.get('email')?.dirty ||contactForm.get('email')?.touched)">
            <div [hidden]="!contactForm.get('email')">
               Email is required
            </div>
          </div>
        </div>
        <div class="input-group">
          <label>Phone <span class="mandatory">*</span></label>
          <div class="sub-group">
            <select formControlName="phonePrefix" name="prefix" id="pref">
              <option selected value="english">English</option>
              <option value="french">French</option>
            </select>
            <input formControlName="phone" type="text" placholder="Enter your phone number">
            <div
              *ngIf="!contactForm.get('phone')?.valid && (contactForm.get('phone')?.dirty ||contactForm.get('phone')?.touched)">
              <div [hidden]="!contactForm.get('phone')">
                Phone is required
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <label>Preferred language </label>
          <select formControlName="language" name="langage" id="lang">
            <option selected value="english">English</option>
            <option value="french">French</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <label for="">Message <span class="mandatory">*</span></label>
          <textarea formControlName="message"> </textarea>
          <div
            *ngIf="!contactForm.get('message')?.valid && (contactForm.get('message')?.dirty ||contactForm.get('message')?.touched)">
            <div [hidden]="!contactForm.get('message')">
               Message is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <label for="">If you have a promo code or if someone told you about us, please enter the details here:</label>
          <input formControlName="code" type="text" placholder="Enter your code">
        </div>
      </div>
    </div>
    <!--  FORM FOOTER   -->
    <div class="form-footer">
      <button  [disabled]="!contactForm.valid" class="btn">Submit</button>
    </div>
  </form>
</section>

<section id="footer-section">
  <div class="footer">
    <h1>JOIN 5000+ FELLOW SUMMIT MINERS</h1>
    <p>Join us on Discord and get <b>expert cryptocurrencies</b> tips straight to you.</p>
    <p>Go <b>behind the scenes</b> of Summit Mining (photos, videos, interviews, etc.)</p>
    <p>Become an even more profitable cryptocurrency miner.</p>
    <img class="discord" src="https://mpng.subpng.com/20180414/qgq/kisspng-discord-teamspeak-computer-icons-logo-game-buttorn-5ad1d92bae24b2.4173961715237020597133.jpg" alt="logo" width="70" height="70">

  </div>
  <div class="row-footer">
  <div *ngFor="let bloc of footerBlocs" class="footer-bloc">
    <img src="{{bloc.img}}" alt="logo" width="30" height="30">
    <p> {{bloc.text}}</p>
  </div>
  </div>
</section>
</div>
